.copyrights {
    margin-top: 60%;
    font-family: 'Roboto Light';
    font-size: small;
    justify-content: center;
    color: var(--app-grey-2);
}

.bgContent {
    background-image     : url( '../../assets/img/logo-yellow.jpg');
    background-size      : 100%;
    background-position  : top left;
    background-repeat    : no-repeat;
    height               : 50%;
    text-align           : center;
}

.loginControls {
    margin-top: 18%;
}


.loginTitle {
    margin-top: 10%;
    font-family: 'Roboto Bold';
    font-variant: small-caps;
    font-size: 22px;
    font-weight: bolder;
    color: var(--app-primary-color);
    justify-content: center;
}

.loginSubTitle {
    font-family: 'Roboto Light';
    font-variant: small-caps;
    color: var(--app-primary-color);
    font-size: 20px;
    justify-content: center;
    
}

.page {
    --background: var(--app-yellow-shade);
}

.loginBtn {
    --background: var(--app-light-brown);
    margin-top: 24%;
    color: var(--app-yellow-shade);
}
