.copyrights {
    margin-top: 80%;
    font-family: 'Roboto Light';
    font-size: small;
    justify-content: center;
    color: var(--app-grey-2);
}

.bgContent {
    
    background-size      : 100%;
    background-position  : top left;
    background-repeat    : no-repeat;
    height               : 50%;
    text-align           : center;
}

.loginControls {
    margin-top: 30%;
}


.loginTitle {
    margin-top: 10%;
    font-family: 'Roboto Bold';
    font-size: 18px;
    font-weight: bolder;
    font-variant: normal;
    color: var(--app-primary-color-dark);
    justify-content: center;
    border: 2px;
    border-style: solid;
    border-radius: 2%;
    background-color: azure;
}

.loginSubTitle {
    font-family: 'Roboto Light';
    font-variant: small-caps;
    color: var(--app-primary-color);
    font-size: 20px;
    justify-content: center;
    
}

.page {
    --background: linear-gradient(90deg, var(--app-primary-color-g1) 0%, var(--app-primary-color-g2) 35%, var(--app-primary-color-g2) 100%);
}

.loginBtn {
    margin-top: 10%;
    color: var(--app-yellow-shade);
}
