.registerControls {
    margin-top: 0%;
}


.registerTitle {
    margin-top: 10%;
    font-family: 'Roboto Bold';
    font-size: 18px;
    font-weight: bolder;
    color: var(--app-primary-color);
    justify-content: center;
    border: 2px;
    border-style: solid;
    border-radius: 2%;
    background-color: azure;
}

.registerSubTitle {
    font-family: 'Roboto Light';
    font-variant: small-caps;
    color: var(--app-primary-color);
    font-size: 18px;
    justify-content: center;
    
}

.page {
    --background: var(--app-yellow-shade);
}

.registerBtn {
    --background: var(--app-light-brown);
    margin-top: 5%;
    color: var(--app-yellow-shade);
}
