
.registerTitleContainer {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    border-bottom: 1px solid grey !important;
}

.registerTitle {
    margin-top: 10%;
    font-size: 18px;
    font-weight: 700;
}

.registerSubTitle {
    font-family: 'Roboto Light';
    font-variant: small-caps;
    color: var(--app-primary-color);
    font-size: 18px;
    justify-content: center;
    
}

.page {
    --background: linear-gradient(90deg, var(--app-primary-color-g1) 0%, var(--app-primary-color-g2) 35%, var(--app-primary-color-g2) 100%);
}

.registerBtn {
    margin-top: 5%;
    color: var(--app-yellow-shade);
}
