.divider {
    --background: linear-gradient(90deg, var(--app-light-brown-g1) 0%, var(--app-light-brown-g2) 35%, var(--app-light-brown-g2) 100%);
    color: var(--app-yellow-shade);
    border-radius: 10px;
}

.semi {
    font-weight: 900;
}

.sectionBottom {
    margin-bottom: 5%;
}