.toolbarCustom {
    --background: var(--app-silver);
    background: var(--app-silver);
    --border-radius: 10px;
    --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
    text-align: left;
    color: var(--app-primary-color-dark);
    
    
}

.toolbarTitle {
    font-size: 18px;
    font-weight: 800;
}