@font-face {
    font-family: 'Roboto Medium';
    src: url('../assets/fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../assets/fonts/Roboto/Roboto-Light.ttf');
    font-weight: 200;
    font-style: normal;
}