.registerInputContainer{
    
    color: var(--app-yellow-shade);
    border-radius: 10px;
}

.field{
    border-radius: 20px;
}

.divider {
    --background: linear-gradient(90deg, var(--app-light-brown-g1) 0%, var(--app-light-brown-g2) 35%, var(--app-light-brown-g2) 100%);
    color: var(--app-yellow-shade);
    border-radius: 10px;
}

