.registerInputContainer{
    --background: var(--app-primary-color-dark);
    color: var(--app-yellow-shade);
    border-radius: 5px;
}

.field{
    --background: var(--app-primary-color-dark);
    border-radius: 20px;
}

.divider {
    --background: var(--app-light-brown);
    color: var(--app-yellow-shade);
}

